.city-weather-forecast {
    .forecast-header {
        font-weight: 700;
        font-size: 2rem;
    }
    .forecast-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        grid-gap: 30px;
        justify-content: center;
        .forecast-widgets {
            

            // .main-info, .details {
            //     grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            //     display: grid;
            // }
        }
    }
}