.loader {
    justify-content: center;
    display: flex;
}

.city-weather-forecast {
    .forecast-header {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 15px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .city-info, .view-toggler {
            display: inline-block;
        }

        .view-toggler {
            position: relative;
            font-size: 17px;
            .view-toggler-option {
                display: inline-block;
                position: relative;
                border: 1px solid var(--textColor);
                padding: 6px;
                cursor: pointer;
                &:first-child {
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                }
                &:last-child {
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                }
                background-color: var(--backgroundSecond);
                &.active {
                    background-color: var(--backgroundThird);
                    color: var(--backgroundSecond);
                }
            }
        }

        @media screen and (max-width:800px) {
            flex-direction: column;
        }
    }
    .forecast-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
        grid-gap: 20px;
        justify-content: center;
    }
    .forecast-content-chart {
        position: relative;  
        height: 80vh;
        width: 100%;
    }
}