<app-loader class="loader" *ngIf="loading"></app-loader>

<div class="city-weather-forecast" *ngIf="!loading && !loadingError">
    <header class="forecast-header">
      {{weatherData.city.name}}, {{weatherData.city.country}}
    </header>
    <div class="forecast-content">
      <div *ngFor="let el of weatherData.list" class="forecast-widgets">
        <app-weather-widget [widgetData]="el" [showButton]="false"></app-weather-widget>
      </div>
    </div>
    <footer class="forecast-footer">
    </footer>
</div>

<div *ngIf="loadingError" class="error">
    <span>Could not load weather data, please try again later</span>
</div>