@import '../../styles/variables.scss';

.js-textarea {
    position: relative;
    .textarea-holder {
        textarea {
            min-width: 250px;
            max-width: 450px;
            background-color: var(--headerColor);
            color: var(--headerTextColor);
            border: none;
            border-radius: 2px;
            padding: 5px 5px 5px 10px;
            height: 33px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            &.error-border{
                border: 1px solid red;
            }
        }
    }
}