<div class="widget">
  <header class="widget-header">
    {{widgetData.name}}
  </header>
  <div class="widget-content">
    <div class="widget-content-holder">
      <div class="temperature">
        {{widgetData.main.temp}} ℃
      </div>
      <div class="weather-image">
        <i class="wi" [ngClass]="1 === 1 ? weatherCondition : ''"></i>
        {{widgetData.weather[0].description}}
      </div>
      <div class="weather-details">
        <div class="humidity">
          <span class="grid-el-label">{{'Humidity' | translate}} </span>
          <span class="grid-el-value">{{widgetData.main.humidity}} %</span>
        </div>
        <div class="wind">
          <span class="grid-el-label">{{'Wind' | translate}} </span>
          <span class="grid-el-value">{{widgetData.wind.speed}} m/s {{windDirection}}</span>
        </div>
        <div class="pressure">
          <span class="grid-el-label">{{'Pressure' | translate}} </span>
          <span class="grid-el-value">{{widgetData.main.pressure}} hPa</span>
        </div>
      </div>
    </div>
  </div>
  <footer class="widget-footer" (click)="toggleForecast($event)">
    {{'Forecast' | translate}} <div [class.upside-down]="showForecast" class="arrow-down"></div>
  </footer>
  <div class="forecast" *ngIf="showForecast">
      <app-loader class="loader" *ngIf="loading"></app-loader>
      <div *ngIf="!loading && !loadingError">
        <div *ngFor="let el of forecastData.list" class="forecast-data">
          <div class="forecast-date">
            {{el.dt}}
          </div>
          <div class="forecast-image">
            <i class="wi" [ngClass]="1 === 1 ? el.weatherCondition : ''"></i>
          </div>
          <div class="forecast-temp">
            {{el.main.temp}} ℃
          </div>
        </div>
      </div>
        <div *ngIf="loadingError" class="error">
        <span>{{'loading.error' | translate}}</span>
      </div>
  </div>
</div>
