.widget {
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: var(--backgroundSecond);
    width: 85%;
    margin: 20px auto;

    .widget-header {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: var(--textColor);
        font-size: 3rem;
        font-weight: 700;
    }

    .widget-content {
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;

        .widget-content-holder {
            display: grid;
            height: 100%;
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

            .temperature, .weather-image, .weather-details {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .temperature {
                font-size: 70px;
            }

            .weather-image {
                font-size: 2rem;
                i {
                    font-size: 5rem;
                }
            }

            .weather-details {
                div {
                    display: inline-block;
                    font-size: 1.4rem;
                    padding: 5px;
                    width: 100%;
                    .grid-el-label {
                        text-align: right;
                        display: inline-block;
                        width: 45%;
                        padding-right: 5px;
                    }
                    .grid-el-value {
                        text-align: left;
                        display: inline-block;
                        width: 45%;
                        padding-left: 5px;
                    }
                }
            }
        }

        .loader {
            line-height: 220px;
        }

        .error {
            font-size: 1.3rem;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .widget-line {
            height: 50px;
            line-height: 50px;
            font-size: 25px;

            &:last-of-type {
                flex: 2;
            }
        }
        .weather-description {
            font-size: 18px;
            line-height: 20px;
        }

        .weather-description, .weather-image {
            display: inline-block;
        }
    }

    .widget-footer {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.4rem;
        border-top: 1px solid grey;

        &:hover {
            cursor: pointer;
        }

        .arrow-down {
            height: 8px;
            width: 8px;
            display: inline-block;
            border-right: 2px solid var(--backgroundThird);
            border-top: 2px solid var(--backgroundThird);
            transform: rotate(135deg);
            position: relative;
            top: -3px;
            left: 3px;

            &.upside-down {
                transform: rotate(-45deg);
                top: 1px;
            }
        }
    }

    .forecast {
        height: 160px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        text-align: center;
        .forecast-data {
            justify-content: center;
            align-items: center;
            display: inline-flex;
            flex-direction: column;
            border-right: 1px solid;
            border-top: 1px solid;
            padding: 5px;
            height: 100%;
            &:last-of-type {
                border-right: none;
            }
            .forecast-image {
                background: rgba(128, 128, 128, 0.2);
                border-radius: 50%;
                height: 80px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    margin: 0;
                }
            }

            .forecast-temp {
                font-size: 22px;
            }

            .forecast-date {
                font-size: 20px;
            }
        }
    }
}





