<!--The content below is only a placeholder and can be replaced.-->
<div class="app" [class.full-content]="hiddenMenu">

  <header>
    Weather app
  </header>
  <div class="menu" [class.no-width]="hiddenMenu">
    <app-menu (menuToggle)="handleMenuToggle($event)"></app-menu>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <div class="loader-holder">
      <app-loader class="loader" *ngIf="loadingRouteConfig"></app-loader>
    </div>
  </div>
  <footer>
    
  </footer>
</div>

