.content {
    max-width: 1280px;
    margin: 0 auto;
}
.widgets-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,320px));
    grid-gap: 20px;
    justify-content: center;
}
.single-widget {
    height: 280px;
}