.menu {
    font-size: 20px;
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--textColor);

    transform: translateX(0);
    &.hidden {
        transform: translateX(-100%);
    }
    transition: transform 0.3s ease-in-out;
    .moving-background {
        width: 201px;
        height: 40px;
        background-color: var(--backgroundFirst);
        position: absolute;
        border-bottom: 1px solid;
        border-top: 1px solid;
        transition: transform .3s ease-in-out;
        transform: translateY(0%);
        pointer-events: none;
        z-index: 2;
    }
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 94%;
        .menu-item{
            list-style: none;
            margin:0;
            padding: 5px 5px 5px 20px;
            height: 30px;
            line-height: 30px;
            background-color: var(--backgroundSecond);
            outline: none;
            cursor: pointer;

            .menu-label {
                z-index: 3;
                position: relative;
            }

            .close-btn {
                display: flex;
                position: absolute;
                right: -40px;
                top: 0px;

                width: 39px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                z-index: 2;
                background-color: var(--backgroundFirst);
                transition: background-color .3s ease-in-out;
                cursor: pointer;
                justify-content: center;
                align-items: center;

                .toggle-arrow {
                    width: 5px;
                    height: 5px;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    &.opened {
                        transform: rotate(-135deg);
                    }
                    &.closed {
                        transform: rotate(45deg);
                    }
                }

                &:hover {
                    background-color: var(--backgroundSecond);
                }
            }

            transition: background-color 0.3s ease-in-out;
            &:not(.active-link):hover {
                background-color: var(--backgroundFirst);
                color: var(--backgroundThird);
            }

            &.blocked {
                background-color: var(--backgroundSecond);
                color: var(--textColor);//var(--textColor);
                transition: none;
                &:hover {
                    background-color: var(--backgroundSecond);
                    color: var(--textColor);
                    cursor: initial;
                }
            }

            &.active-link {
                background-color: var(--backgroundFirst);
                // width: 88%;
                // border-bottom: 1px solid var(--textColor);
                // border-top: 1px solid var(--textColor);
                color: var(--textColorDiff);
            }

            &:first-of-type {
                border-top: none;
            }

            &.growing {
                flex-grow: 1;
                position:relative;
                display: flex;
                flex-direction: column;
                button {
                    background: var(--backgroundThird);
                    color: var(--backgroundSecond);
                    border: none;
                    cursor: pointer;
                    margin: 5px;
                    height: 29px;
                    border-radius: 3px;
                }
                .end-item {
                    position: absolute;
                    bottom: 40%;
                }
            }
        }
    }
}