<div class="menu" [class.hidden]="hidden">
  <ul>
    <li class="menu-item blocked">{{'Menu' | translate}} 
      <div class="close-btn" (click)="toggleMenu()">
        X
      </div>
    </li>
    <li class="menu-item" [routerLinkActive]="['active-link']" [routerLink]="['/weather']">{{'weather' | translate}}</li>
    <li class="menu-item" [routerLinkActive]="['active-link']" [routerLink]="['/map']">{{'maps' | translate}}</li>
    <li class="menu-item" [routerLinkActive]="['active-link']" [routerLink]="['/historical-data']">{{'historical.data' | translate}}</li>
    <li class="menu-item" [routerLinkActive]="['active-link']" [routerLink]="['/favorites']">{{'favorites' | translate}}</li>
    <li class="menu-item blocked growing">
    </li>
  </ul>
</div>
