// $textColor: #373737;
// $$backgroundThird: #C0B283;
// $backgroundSecond: #DCD0C0;
// $backgroundFirst: #F4F4F4;

$textColor: #373737;
$backgroundFirst: #EFEFEF;
$backgroundSecond: #F4F4F4;
$backgroundThird: #A9A9A9;