.widget {
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    height: 100%;

    &:hover {
        cursor: pointer;
    }

    .widget-header {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: black;
        font-size: 2rem;
        font-weight: 700;
    }

    .widget-content {
        width: 100%;
        height: 190px;
        text-align: center;
        display: flex;
        flex-direction: column;

        .loader {
            line-height: 220px;
        }

        .error {
            font-size: 1.3rem;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .widget-line {
            height: 50px;
            line-height: 50px;
            font-size: 25px;

            &:last-of-type {
                flex: 2;
            }
        }
        .weather-description {
            font-size: 18px;
            line-height: 20px;
        }

        .weather-description, .weather-image {
            display: inline-block;
            width: 50%;
        }

        .weather-details-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20px,140px));
            grid-gap: 10px;
            justify-content: center;

            .grid-el-label {
                display: block;
                text-transform: uppercase;
            }
            .grid-el-value {
                display: block;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    .widget-footer {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: black;
        color: white;
        text-align: center;

        .arrow-right {
            height: 5px;
            width: 5px;
            display: inline-block;
            border-right: 2px solid white;
            border-top: 2px solid white;
            transform: rotate(45deg);
        }
    }
}





